In [1]:
import decimal
integer=10
print(decimal.Decimal(integer))
print(type(decimal.Decimal(integer)))

10
<class 'decimal.Decimal'>

In [2]:
import decimal
string='12345'
print(decimal.Decimal(string))
print(type(decimal.Decimal(string)))

12345
<class 'decimal.Decimal'>

In [3]:
string="Python"
print(string[::-1])

nohtyP

In [4]:
vowel=["a","e","i","o","u"]
word="Programming"
count=0
for char in word:
    if char in vowel:
        count+=1
print(count)

3

In [5]:
vowel=["a","e","i","o","u"]
word="Programming"
count=0
for char in word:
    if char not  in vowel:
        count+=1
print(count)

8

In [6]:
word="programming"
character="g"
count=0
for i in word:
    if i==character:
        count+=1
        
print(count)

2

In [13]:
def fib(n):
    if n<=1:
        return n
    else:
        return (fib(n-1)+ fib(n-2))
n=10    
for i in range(n):  
    print(fib(i))

0
1
1
2
3
5
8
13
21
34

In [14]:
number_list=[12,34,55,45,96]
n=max(number_list)
print(n)

96

In [15]:
number_list=[12,34,55,45,96]
max=number_list[0]
for num in number_list:
    if num>max:
        max=num
print(max)

96

In [16]:
number_list=[12,34,55,45,96]
min=number_list[0]
for num in number_list:
    if num<min:
        min=num
print(min)

12

In [22]:
number_list=[12,34,55,45,96]
middleelement=(len(number_list))//2
print(number_list[middleelement])

55

In [23]:
list1=[1,2,3]
list2=[4,5,6]
res_list=[]
for i in range(0,len(list1)):
    res_list.append(list1[i]+list2[i])
print(res_list)   
# adding two list elements together

[5, 7, 9]

In [24]:
str1="Listen"
str2="Silent"
str1=str1.replace(" ","").upper()
str2=str2.replace(" ","").upper()
if sorted(str1)==sorted(str2):
    print(True)
else:
    print(False)

True

In [25]:
str1="kayak".lower()
if str1==str1[::-1]:
    print ("True")
else:
    print("False")

True

In [26]:
string="p r o g r amming"
print(string.count(" "))

5

In [30]:
def count_sp_char(string):
    sp_char="!@#$%^&*()<>?/{}[].,;~:"
    count=0
    for i in string:
        if i in sp_char:
            count+=1
    return count
text='Hello ! How are you? #sp! 123&'
result=count_sp_char(text)
print(result)

5

In [31]:
string='C O D E'
string2="".join(char for char in string if char!=" ")
print (string2)

CODE

In [32]:
string='C O D E'
string2= string.replace(" ","")
print (string2)

CODE

In [35]:
def pyramid(n):
    for i in range(n):
        for j in range(i,n):
            print(" ",end="")
        for j in range(i+1):
            print("*",end="")
        for j in range(i):
            print("*",end="")
        print("")
pyramid(5)

     *
    ***
   *****
  *******
 *********

In [1]:
def pyramid(rows):
    for i in range(1,rows+1):
        for j in range(rows-i):
            print(" ",end="")
        for k in range(2*i-1):
            print("*",end="")
        for j in range(rows-i):
            print(" ",end="")    
        print()    
pyramid(5)

    *
   ***
  *****
 *******
*********

In [7]:
def pyramid(rows):
    for i in range(1,rows+1):
        for j in range(i):
            print(" ",end="")
        for k in range(2*(rows-i)+1):
            print("*",end="")
        print()    
pyramid(5)

 *********
  *******
   *****
    ***
     *

In [1]:
def starArrowPattern(n: int) -> None:
    # Upper part (1 to n)
    for i in range(1, n + 1):
        # Print spaces
        for j in range(n - i):
            print(" ", end="")
        # Print stars
        for k in range(2 * i - 1):
            print("*", end="")
        print()

    # Lower part (n-1 to 1)
    for i in range(n - 1, 0, -1):
        # Print spaces
        for j in range(n - i):
            print(" ", end="")
        # Print stars
        for k in range(2 * i - 1):
            print("*", end="")
        print()

# Example usage
starArrowPattern(6)

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [8]:
def nStarDiamond(n: int) -> None:
    for i in range(1, n + 1):
        # Print spaces
        for j in range(n - i):
            print(" ", end="")
        # Print stars
        for k in range(2 * i - 1):
            print("*", end="")
        for j in range(n - i):
            print(" ", end="")    
        print()

    # Lower part (n-1 to 1)
    for i in range(n , 0, -1):
        # Print spaces
        for j in range(n - i):
            print(" ", end="")
        # Print stars
        for k in range(2 * i - 1):
            print("*", end="")
        for j in range(n - i):
            print(" ", end="")    
        print()
nStarDiamond(5)

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [15]:
def rows(n):
    for i in range(1,n+1):
        for j in range(i):
            print("*",end="")
        print() 
    for i in range(n-1,0,-1)  :
        for j in range(i):
            print("*",end="")  
        print()      
rows(5)

*
**
***
****
*****
****
***
**
*

In [ ]:
def rows(n):
    for i in range(1,n+1):
        start=1 if i%2!=0 else 0
        for j in range(i):
            print(start,end=" ")
            start=1-start#flip between 1's and 0's
        print()
rows(4)

1
0 1
1 0 1
0 1 0 1

In [36]:
def rows(n):
    for i in range(1,n+1):
        for j in range(1,i+1):
            print(j,end=" ")
        for k in range(2*(n-i)):
            print(" ",end="")
        for j in range(i,0,-1):
            print(j,end=" ")
        print()
rows(4)

1       1
1 2     2 1
1 2 3   3 2 1
1 2 3 4 4 3 2 1

In [35]:
def rows(n):
    num=1
    for i in range(1,n+1):
       for j in range(1,i+1):
           print(num,end=" ")
           num+=1
       print()  
rows(4)

1
2 3
4 5 6
7 8 9 10

In [40]:
def rows(n):
    
    for i in range(1,n+1):
       for j in range(i):
           print(chr(65+j),end=" ")
           
       print()  
rows(3)

A
A B
A B C

In [3]:
def rows(n):
    for i in range(n+1):
        for j in range(n-i):
            print(chr(65+j),end=" ")
        print()
rows(5)

A B C D E
A B C D
A B C
A B
A

In [53]:
def rows(n):
    for i in range(n):
        for j in range(i+1):
            print(chr(65+i),end=" ")
        print()
rows(5)

A
B B
C C C
D D D D
E E E E E

In [ ]:
def rows(n):
    for i in range(n):
        for j in range(n-i-1):
            print(" ",end="")
        for j in range(i+1):
            print(chr(65+j),end=" ")
        for j in range(i - 1, -1, -1):
            print(chr(65 + j), end=" ")    
        for j in range(n-i-1):
            print(" ",end="")    
        print()
rows(4)

   A
  A B A
 A B C B A
A B C D C B A

In [77]:
def reverse_alpha_triangle(n):
    start_char = chr(65 + n - 1 )
    for i in range(n):
          # Start from 'E', 'D', ..., 'A'
        for j in range(i + 1):
            print(chr(ord(start_char) - j), end=" ")
        print()

reverse_alpha_triangle(5)

E
E D
E D C
E D C B
E D C B A

In [8]:
def print18(n):
    for i in range(n):
        for ch in range(ord('E') - i, ord('E') + 1):
            print(chr(ch), end=" ")
        print()
print18(5)

E
D E
C D E
B C D E
A B C D E

In [46]:
def rows(n):
    spaces = 0
    for i in range(n, 0, -1):
        # Left stars
        for j in range(i):
            print("*", end="")
        # Middle spaces
        for j in range(spaces):
            print(" ", end="")
        # Right stars
        for j in range(i):
            print("*", end="")
        print()
        spaces += 2
    
    # Bottom part - increasing stars
    spaces = 2*n - 2
    for i in range(1, n+1):
        # Left stars
        for j in range(i):
            print("*", end="")
        # Middle spaces
        for j in range(spaces):
            print(" ", end="")
        # Right stars
        for j in range(i):
            print("*", end="")
        print()
        spaces -= 2
    
    # print()       
rows(3)

******
**  **
*    *
*    *
**  **
******

In [48]:
def rows(n):
    spaces = 2*n - 2
    for i in range(1, n+1):
        # Left stars
        for j in range(i):
            print("*", end=" ")
        # Middle spaces
        for j in range(spaces):
            print(" ", end=" ")
        # Right stars
        for j in range(i):
            print("*", end=" ")
        print()
        spaces -= 2
    spaces = 0
    for i in range(n, 0, -1):
        # Left stars
        for j in range(i):
            print("*", end=" ")
        # Middle spaces
        for j in range(spaces):
            print(" ", end=" ")
        # Right stars
        for j in range(i):
            print("*", end=" ")
        print()
        spaces += 2
rows(5)

*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

In [ ]:
def rows(n):
    for i in range(n):
        for j in range(n):
            if i==0 or i==n-1 or j==0 or j==n-1:#boundaries 
                print("*",end=" ")
            else:
                print(" ",end=" ")   
        print()    
rows(4)

* * * *
*     *
*     *
* * * *

In [52]:
def rows(n):
    size=2*n-1
    for i in range(size):
        for j in range(size):
            min_dist=min(i,j,size-1-i,size-1-j)
            print(n-min_dist,end=" ")
        print()
rows(4)

4 4 4 4 4 4 4
4 3 3 3 3 3 4
4 3 2 2 2 3 4
4 3 2 1 2 3 4
4 3 2 2 2 3 4
4 3 3 3 3 3 4
4 4 4 4 4 4 4

In [38]:
from random import shuffle
lst=["python","is","nice"]
shuffle(lst)
print(lst)

['is', 'python', 'nice']

In [1]:
def isprime(num):
    for i in range(2,num):
        if num%i==0:
            return False
    return True 
def prime_generator(n):
    num=2
    while n:
        if isprime(num):
            yield num
            n-=1
        num+=1
x=int(input("Enter no. of prime numbers required"))
it=prime_generator(x)
for e in it :
    print(e,end=" ")

2 3 5 7 11 13 17 19 23 29